*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

body {
  padding: 20px;
  background-color: #353535;
}

/*GRID*/
table {
  border-spacing: 0px;
  border: 1px solid #797979;
  background-color: #aaa;
  margin: 0 auto;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid #797979;
}

.dead {
  background-color: transparent;
}

/*MENU*/
.start,
.clear,
.random {
  padding: 10px 15px;
}

.menu {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  background: rgb(158, 155, 155);
  padding: 30px;
}

.grid-size {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #aaa;
}

.grid-size label {
  margin-right: 5px;
  color: #353535;
}
