*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  padding: 20px;
  height: 100vh;
  background-image: linear-gradient(180deg, #eec0c6 0%, #e58c8a 74%);
}

/*GRID*/
table {
  border: 1px solid white;
  box-shadow: 3px 2px 14px #000;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
}

td {
  width: 12px;
  height: 12px;
}

.show-border {
  border: 1px solid #ff008d;
}

.dead {
  background-color: transparent;
}

.alive {
  background-color: #fff;
}

/*MENU*/
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group > * {
  margin-right: 5px;
}

.start,
.clear,
.random,
.border-spacing-btn,
.border-btn {
  cursor: pointer;
  padding: 13px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #282828;
  color: #fff;
}

.start:hover,
.clear:hover,
.random:hover,
.border-spacing-btn:hover,
.border-btn:hover {
  background-color: #e58c8a;
}

.start:active,
.clear:active,
.random:active,
.border-spacing-btn:active,
.border-btn:active {
  background-color: #f50568;
}

.menu {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 30px;
}

.grid-size,
.color-pick-container {
  margin-right: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  background-color: #282828;
}

.grid-size {
  padding: 13px;
}

.grid-size label,
.color-cell-picker label {
  margin-right: 5px;
  color: #fff;
}

.color-cell-picker {
  padding: 6px;
}

.color-pick-container {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 10px;
}

.color-cell-picker {
  cursor: pointer;
  webkit-appearance: none;
  moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
}

.color-cell-picker::-webkit-color-swatch {
  border-radius: 50%;
}

.border-spacing-btn {
  margin-right: 5px;
}

.count-gen-wrap,
.count-cell-wrap {
  margin-left: 10px;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  width: 230px;
  box-shadow: 1px 1px 5px #444;
}

.count-gen-wrap {
  position: absolute;
  left: 60%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.count-cell-wrap {
  position: absolute;
  left: 40%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.count-gen-wrap span,
.count-cell-wrap span {
  font-weight: bold;
}
